@model IEnumerable<Entity_framework.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.custName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custcity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.custName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.custage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.custcity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.custID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.custID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.custID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
